<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Military Personnel Management - Personnel List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/utils.js}"></script>
    <script type="text/javascript" th:src="@{/js/snowstorm.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script id="help-ukraine-win" async="true" th:src="@{/js/helpUkraine.js?type=four&position=top-right&layout=main}"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Military Personnel Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Personnel List<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/create}">Add New Person</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/donate}">Support the Armed Forces of Ukraine</a>
            </li>
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </div>
        </ul>
        <a class="nav-link" th:href="@{/logout}">Logout</a>
    </div>
</nav>

<div class="container-fluid my-5">
    <div class="col-lg-12 grid-margin stretch-card">
        <h3>Personnel List</h3>
        <div class="card">
            <div class="card-body">
                <div th:switch="${soldiers}">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <form class="form-inline">
                            <div id="filtersPanel" class="col-xs-2">
                                <input type="fullNameSearch" class="form-control table-filter input-sm" id="searchFullName"
                                       aria-describedby="emailHelp" placeholder="Filter by fullName"
                                       th:onchange="performSearch()">
                                <input type="vacationSearch" class="form-control table-filter input-sm" id="searchVacation"
                                       aria-describedby="emailHelp" placeholder="Filter by vacation"
                                       th:onchange="performSearch()">
                                <input type="hospitalSearch" class="form-control table-filter input-sm" id="searchHospital"
                                       aria-describedby="emailHelp" placeholder="Filter by hospital"
                                       th:onchange="performSearch()">
                                <input type="number" min="1950" max="2099" step="1" class="form-control table-filter input-sm" id="searchDateOfBirth"
                                       aria-describedby="emailHelp" placeholder="Filter by date of birth"
                                       th:onchange="performSearch()">
                                <input type="email" class="form-control table-filter input-sm" id="searchPhoneNumber"
                                       aria-describedby="emailHelp" placeholder="Filter by phone number"
                                       th:onchange="performSearch()">
                                <input type="email" class="form-control table-filter input-sm" id="searchBattalion"
                                       aria-describedby="emailHelp" placeholder="Filter by battalion"
                                       th:onchange="performSearch()">
                                <input type="email" class="form-control table-filter input-sm"
                                       id="searchFullTimePosition" aria-describedby="emailHelp"
                                       placeholder="Filter by full time position" th:onchange="performSearch()">
                                <input type="email" class="form-control table-filter input-sm"
                                       id="searchMilitaryRankName" aria-describedby="emailHelp"
                                       placeholder="Filter by military Rank Name" th:onchange="performSearch()">
                                <select class="form-control input-sm" name="keyword" style="width: 90px" th:onchange="performSearch()" id="searchMilitaryMedicalCommission">
                                    <option selected>---</option>
                                    <option th:each="option : ${T(com.rpr.soldierscrm.entity.MilitaryMedicalCommission).values()}"
                                            th:text="${option.getDisplayName}"
                                            th:value="${option}"
                                            />
                                </select>
                                <input type="email" class="form-control table-filter input-sm"
                                       id="searchPersonalIdNumber" aria-describedby="emailHelp"
                                       placeholder="Filter by personal ID number" th:onchange="performSearch()">
                                <input class="form-control table-filter input-sm" type="date" min="2022-01-01" max="2099-12-31" id="searchDateOfArrival"
                                       th:onchange="performSearch()">
                                <input type="email" class="form-control table-filter input-sm"
                                       id="searchEnrollmentOrderNumber" aria-describedby="emailHelp"
                                       placeholder="Filter by enrollment order number" th:onchange="performSearch()">
                                <input type="email" class="form-control table-filter input-sm"
                                       id="searchOriginBrigadeArrival" aria-describedby="emailHelp"
                                       placeholder="Filter by origin brigade arrival" th:onchange="performSearch()">
                                <input type="email" class="form-control table-filter input-sm" id="searchInternalOrder"
                                       aria-describedby="emailHelp" placeholder="Filter by internal order"
                                       th:onchange="performSearch()">
                                <button id="searchButton" class="form-control" name="searchButton"
                                        th:onclick="clearAllFilters()" type="button">Clear all filters
                                </button>
                            </div>
                        </form>
                        <button id="showHideFiltersButton" class="form-control" name="showHideFiltersButton"
                                th:onclick="showHideFilters()" type="button">Show/Hide Filters
                        </button>
                        <br>
                        <div id="resultsBlock">
                            <table class="table table-responsive table-striped table-bordered center"
                                   id="soldiers-table">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Full Name</th>
                                    <th>Vacation</th>
                                    <th>Hospital</th>
                                    <th>Year Of Birth</th>
                                    <th>Phone Number</th>
                                    <th>Battalion</th>
                                    <th>Full Time Position</th>
                                    <th>Military Rank Name</th>
                                    <th>Military Medical Commission</th>
                                    <th>Personal ID Number</th>
                                    <th>Date Of Arrival</th>
                                    <th>Enrollment Number</th>
                                    <th>Origin Brigade Arrival</th>
                                    <th>Internal Order</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="soldier: ${soldiers}" style="display: table-row">
                                    <td th:text="${soldier.fullName}"></td>
                                    <td th:text="${soldier.vacation}"></td>
                                    <td th:text="${soldier.hospital}"></td>
                                    <td th:text="${soldier.dateOfBirth}"></td>
                                    <td th:text="${soldier.phoneNumber}"></td>
                                    <td th:text="${soldier.battalion}"></td>
                                    <td th:text="${soldier.fullTimePosition}"></td>
                                    <td th:text="${soldier.militaryRankName}"></td>
                                    <td th:text="${soldier.militaryMedicalCommission.getDisplayName}"></td>
                                    <td th:text="${soldier.personalIdNumber}"></td>
                                    <td th:text="${#dates.format(soldier.dateOfArrival, 'yyyy-MM-dd')}"></td>
                                    <td th:text="${soldier.enrollmentOrderNumber}"></td>
                                    <td th:text="${soldier.originBrigadeArrival}"></td>
                                    <td th:text="${soldier.internalOrder}"></td>
                                    <td>
                                        <a th:href="@{/edit/{id}(id=${soldier.id})}"
                                           class="btn btn-primary btn-sm">Edit</a>
                                        <br/>
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                                th:attr="data-target='#exampleModal'+*{soldier.id}">
                                            Delete
                                        </button>
                                        <div class="modal fade" th:id="*{'exampleModal'+{soldier.id}}" tabindex="-1"
                                             role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete operation</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="@{/delete/{id}(id=${soldier.id})}"
                                                              method="post">
                                                            <div class="modal-body">
                                                                <div>Confirm delete operation:</div>
                                                                <div>
                                                                    <button type="submit" class="btn btn-danger">Yes, delete
                                                                    </button>
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">
                                                                        Cancel
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div>
                                Total items: <span th:text="${totalItems}" th:remove="tag">userName</span>. Page
                                <span th:text="${currentPage}" th:remove="tag"></span> of <span th:text="${totalPages}"
                                                                                               th:remove="tag"></span>
                                &nbsp; - &nbsp;
                                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                <a th:if="${i != currentPage}" th:href="@{'/?page=' + ${i}}"><span
                                        th:text="${i}">value</span></a>
                                <span th:unless="${i != currentPage}"><span th:text="${i}">value</span></span>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="button" th:onclick="getTableData()">Console table data to
                    Object
                </button>
                <p>
                    <a th:href="@{/generateExcelReport}">
                        <button type="button" class="btn btn-primary">Excel Report</button>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2023 Company, Inc</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>